<!DOCTYPE html>
<html lang="en">
<head>
    <title>Morse Law</title>
</head>

<style>
    .container {
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
form {
    padding-bottom: 20px;
}



</style>

<div class="container">
    <header>
        <center>
            <h1>Morse Law</h1>
            <p>
                <small> Convert any <a href="https://apps.legislature.ky.gov/lrcsearch#tabs-6"> Kentucky State Law</a>
                    into Morse Code!
                </small>
            </p>
        </center>
        <form action="{{ url_for('divide') }}" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.searchbox.label }} {{form.searchbox()}}{{ form.submit() }}<br>
            </p>
        </form>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        {% if morsecode %}
        <textarea>{{ morsecode }}</textarea>
        {% else %}
        <p>nothing to see</p>
        {% endif %}
    </header>
</div>
<script type="javascript" >
import {MorseCodePlayer } from 'animal-morse-code';
    var player = new MorseCodePlayer();
    console.log(player)
    player.loadSoundSet(1);
    player.playText('hi you', callback);
</script>

<script src="{{ url_for('js', filename='node_modules/toastr/toastr.js')}}"></script>
</html>
